<h1>These are the available events</h1>
<<<<<<< HEAD

        <form action="/groups/{{groupId}}" method="POST">

{{#each eventsList}}
<a href="/events/{{_id}}">{{ name }}</a>
 <div class="button-holder">
        each
            <input type="checkbox" id="Upvote" name={{name}} value="Upvote" />

</div>


{{/each}}
            <button type="submit">Submit</button>

        </form>

=======
{{#each eventsList}}
<a href="/events/{{_id}}">{{ name }}</a>

{{/each}}
>>>>>>> eb0c25fb11ebbfb3df78ebbf4f6c0839bfc451df

<a href="/events/add">New event</a>