<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

{{#with event}}

<div class="eventDetails">
  <h1>Your group is going to {{eventFromDB.name}}</h1>

  <div class="date">
    <i style='font-size:24px' class='far'>&#xf133; </i>
    <p> {{date}}</p>
  </div>
  <div class="date">
    <i style='font-size:24px' class='far'>&#xf017;</i>
    <p>{{eventFromDB.duration}} hours</p>
  </div>
  <div class="date">
    <i style='font-size:24px' class='fas'>&#xf7ce;</i>
    <p>{{eventFromDB.numParticipants}} Participants</p>
  </div>
  <div class="date">
    <i class="material-icons">&#xe55b;</i>
    <p>{{eventFromDB.location}}</p>
  </div>
  <div class="date">
    <i style="font-size:24px" class="fa">&#xf153;</i>
    <p>{{eventFromDB.price}}€</p>
  </div>

  {{/with}}

  <div class="date">
    <i style='font-size:24px' class='fas'>&#xf500;</i>
    <p>{{event.votii}}</p>
  </div>


  <a class="return" href="/">Book Now</a>
</div>