{{#with group}}

<div class="groupDetails">

  <h1>{{name}}</h1>
  {{/with}}
  <h4>Date: {{date}}</h4>
  {{#with group}}
  <div class="participantsUl">
    <h3>Participants: </h3>
    {{#each user}}
    <ul>
      <li class="participants">{{username}}</li>
    </ul>
    {{/each}}
  </div>


  <a class="voteSubmit" href="/groups/{{_id}}/events">Choose Your Art</a>

  <a class="voteSubmit" style="text-decoration:none" href="/groups/delete/{{_id}}">Delete Group</a>



  {{/with}}

</div>