{{#with group}}
<h1>This is group {{name}}</h1>

<h3>{{user.username}}</h3>
<p>{{date}}</p>
{{!-- <a href="/groups/edit/{{__id}}">Edit this Group</a>
<a href="/groups/delete/{{_id}}">Delete this Group</a> --}}
{{/with}}