{{#with group}}

<h1>This is {{name}}</h1>
{{/with}}
<h3>Date: {{date}}</h3>
{{#with group}}
<h3>Participants: </h3>
{{#each user}}
<p>{{username}}</p>
{{/each}}


<a class="voteSubmit" href="/groups/{{_id}}/events">Vote</a>

<a class="newGroup" style="text-decoration:none" href="/groups/delete/{{_id}}">Delete Group</a>
{{/with}}